:root {
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-primary: hsl(218, 44%, 22%);
    --clr-secondary: hsl(220, 15%, 55%);
    --clr-accent: hsl(212, 45%, 89%);


    --ff-primary: "Outfit", sans-serif;

    --fw-regular: 400;
    --fw-bold: 700;

    --fs-small: 15px;
    --fs-medium: 22px;

}